<!DOCTYPE html>
<html>
<head>

    <style>

        .juin {
            margin-left: 700px;
        }
        .huin {
            margin-left: 500px;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
            <h3 class="juin"><b> MT Pool</b></h3>
            <div class="huin">
                <p3 style=" font-weight: bold;">Vehicles Available : 35</p3><br />
                <p3 style=" font-weight: bold;">Drivers Available : 16</p3>
            </div>


        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
       
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
